.Auth-container{
    background-image: url(../../../../assets/images/bg1.png);
    background-position: center center;
    background-size: cover;
}
.parent-container{
    flex-direction: column;
}
.login-container{
    width: 40%;
    background: rgba(49, 89, 81, 0.9);
    color:rgba(255, 255, 255, 1);
}
.logo-container{
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
}
.logo-container img{
    width: 70%;
}
.text-underline{
    text-decoration: underline;
    color: rgba(239, 155, 40, 1);
    text-underline-offset: 3px
}
.titles h3{
    color: rgba(239, 155, 40, 1);
    font-weight: bold;
    font-size: 30px;
}
.login-container form label{
    color: rgba(239, 155, 40, 1);
    margin-bottom: 5px;
    display: block;
}
 .login-container form input::placeholder{
    color:rgb(246, 244, 244) !important;
}
.login-container form .eye-btn{
    background: none;
    border: none;
}
.login-container form .eye-btn i{
    color:rgba(255, 255, 255, 1);
}
.links a{
    color:rgba(255, 255, 255, 1);
 }
.login-btn button{
    background: rgba(239, 155, 40, 1);
    color:rgba(255, 255, 255, 1);
    border-radius: 20px;
    width: 80%;
}
.login-btn button:hover{
    background: rgb(203, 135, 38);
}
.login-btn{
    margin: auto;
    text-align: center;
}
.login-container .input-custom{
    border: unset;
    border-radius: unset;
    background-color: transparent;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.405);
    padding-inline: unset !important;
    padding-bottom: 0.7rem;
}
.input-custom:focus{
    outline: none;
    box-shadow: unset;
    background-color: transparent;
    color: white;
    border-color: rgba(239, 155, 40, 1)
}

@media (max-width: 800px){ 
    .login-container{
        width: auto;
    }
    .links{
        gap: 50px;
    } 
}

@media (max-width: 400px){
    .links{
        gap: 20px;
    }
    

}