:root {
  --stats-card-bg: #ffffff;
  --stats-text: #000000;
}

[theme="dark"] {
  --stats-card-bg: #101e19;
  --stats-text: #ffffff;
  /* --stats-card-bg: #2e544c; */
}
.doughnut-chart {
  max-width: 300px;
  /* min-height: 300px; */
  margin: 0 auto;
}
.border-container {
  position: relative;
  /* padding: 18px; */
  min-height: 200px;
  border-radius: 8px;
  background-color: var(--stats-card-bg);
  color: var(--stats-text);
}
.border-element {
  position: absolute;
  height: 50px;
  width: 4px;
  background-color: #ef9b28;
}
