.auth-container {
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
  }
  
  .auth-item {
    background-color: var(--bg-Authcolor);
    padding: 2rem;
    border-radius: 8px;
  }
  
  .img-logo img {
    max-width: 100px;
  }
  
  .main-colr {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .form-control {
    color: #ffffff !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    box-shadow: none !important;
  }
  
  .form-control:focus {
    background-color: transparent;
    color: #ffffff;
    outline: none;
  }
  
  .main-bg {
    background-color: #f39c12;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
  }
  
  .main-bg:hover {
    background-color: #e67e22;
  }
  