:root {
  --nav-bg: #ffffff;
}
[theme="dark"] {
  --nav-bg: #101e19;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: var(--nav-bg);
}

.logo {
  width: 166px;
  height: 43px;
}
.profile {
  color: var(--text-color);
}
.email {
  max-width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profile-container {
  max-width: 220px;
}
.profile-container img {
  width: 100%;
}
.bell {
  color: var(--main-colr);
  font-size: 20px;
}
@media (max-width: 540px) {
  .bell {
    display: none;
  }
  .profile-container img {
    width: 95%;
  }
}
