.header-container {
  background: url("../src/assets/images/backgd-dashboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 89, 81, 0.44);
  pointer-events: none;
  border-radius: 13px;
  z-index: 1;
}
/* .img-bashboard {
  position: relative;
}
.img-bashboard img {
  width: 100%;
  height: 100%;
}
.img-bashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 89, 81, 0.44);
  pointer-events: none;
  border-radius: 13px;
}
.img-bashboard div {
  left: 10;
} */
.content {
  z-index: 2;
  position: relative;
  padding: 20px;
}
.title {
  color: #ef9b28;
}
@media (max-width: 768px) {
  .img-bashboard img {
    width: 98%;
  }
  .img-bashboard {
    height: 213px;
    width: 98%;
  }
}
@media (max-width: 912px) {
  .img-bashboard {
    height: 200px;
  }
}
