/* ---------------------- common style ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: var(--color); */
}

:root {
  --main-colr: rgba(239, 155, 40, 1);
  --main-bg: rgba(239, 155, 40, 1);
  --bg-Authcolor: rgba(49, 89, 81, 0.9);
  --bg-Mastercolor: #f5f5f5;
  --bg-border-bottom: rgba(255, 255, 255, 1);
  --table: rgba(245, 245, 245, 1);
  --bg-card: rgba(248, 249, 251, 1);
  --minubtn: rgba(239, 155, 40, 0.3);
  --dash-item1: rgba(229, 230, 244, 1);
  --dash-item2: rgba(244, 244, 229, 1);
  --dash-item3: rgba(244, 229, 237, 1);
  --iconbg: rgba(207, 209, 236, 1);
  --iconbg2: rgba(228, 228, 188, 1);
  --iconbg3: rgba(231, 195, 215, 1);
  --color: #707276;
  --app-color: rgba(255, 255, 255, 1);
  --dark-color: #101418;
  --App-color: wght;
  --headproject: #707276;
  --color-titledrag: #101418;
  --color-username: #101418;
  --bg-sidebar: rgba(14, 56, 47, 1);
  --light-color: #ffffff;
  --placeholder-color: #c1c1c1;
  --header-bg: #ffffff;
  --text-color: #000000;
  --table-odd: #f2f2f2;
  --table-even: #ffffff;
  --disabled-arrow: gray;
}

/* dark mode */
[theme="dark"] {
  --main-colr: rgba(239, 155, 40, 1);
  --color-titledrag: rgba(255, 255, 255, 1);
  --color-username: rgba(255, 255, 255, 1);
  --main-bg: #101418;
  --bg-Authcolor: #101418;
  --bg-border-bottom: #383737;
  --table: #101418;
  --bg-card: #101418;
  --minubtn: rgba(239, 155, 40, 0.3);
  --dash-item1: rgba(229, 230, 244, 1);
  --dash-item2: rgba(244, 244, 229, 1);
  --dash-item3: rgba(244, 229, 237, 1);
  --iconbg: rgba(207, 209, 236, 1);
  --iconbg2: rgba(228, 228, 188, 1);
  --iconbg3: rgba(231, 195, 215, 1);
  --color: #fff;
  --dark-color: #fff;
  --App-color: #101418;
  --bd-table: rgba(14, 56, 47, 1);
  /* --bg-sidebar: #101418; */
  --bg-sidebar: #101e19;
  /* --bg-Mastercolor: #142520; */
  --bg-Mastercolor: #142520;
  /* --bg-Mastercolor: #414f4b; */
  /* --header-bg: #414f4b; */
  --header-bg: #2e544c;
  --text-color: #ffffff;
  --table-odd: #f2f2f2;
  --table-even: #ffffff;
  --disabled-arrow: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--App-color) !important;
}

.main-colr {
  color: var(--main-colr);
}

.main-bg {
  background-color: var(--main-colr);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ---------------------- auth-layout ----------------------*/
.auth-container {
  background-position: center center;
  background-size: cover;
  height: 120vh;
}
.auth-item {
  background-color: var(--bg-Authcolor);
}

label {
  font-size: 0.8rem;
}

#Info-Input {
  border: unset;
  border-radius: unset;
  background-color: transparent;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.405);
  padding-inline: unset !important;
  padding-bottom: 0.7rem;
}

.border-icon,
#Info-Input {
  border-bottom: rgba(255, 255, 255, 1) 1px solid;
}

#Info-Input::placeholder,
#Info-Input:focus {
  color: #fff;
  background-color: transparent;
}

#Info-Input:focus {
  outline: unset;
  box-shadow: unset;
}

/* .Inputs {
    color: #fff !important;
    box-shadow: none !important;
  } */

.auth-title {
  p {
    margin: 0px;
  }

  h3 {
    font-size: 2rem;
  }

  .frist-ch::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 16px;
    height: 4px;
    background-color: var(--main-bg);
  }
}

/* 
  .lodin-links {
    .link-item:hover {
      color: rgba(239, 155, 40, 1) !important;
    }

    .link-item {
      transition: all .3s;
    }
  }

  .container-register {
    background-color: rgba(49, 74, 89, 0.9);
    width: 90% !important;
  }

  .PersonImg {
    height: 10rem;
  }

  .layer-img {
    background-color: rgba(49, 89, 81, 0.54);

  }
} */

/* ---------------------- change-password-styles ----------------------*/
html {
  font-size: 16px;
}
body {
  font-family: Inter;
}
.change-pass-bg {
  background-image: url("./assets/images/changepass-bg.svg"),
    linear-gradient(#0e382f, #0e382f);
  background-position: center center;
  background-size: cover;
}

.change-pass-container {
  min-height: 100vh;
}
.change-pass-form-wrapper {
  background-color: #315951e5;
  border-radius: 16px;
  padding: 4rem;
  margin-top: 1.5rem;
}

.form-welcome {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin: 0;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ef9b28;
  margin: 0;
  margin-bottom: 2.8rem;
}

.form-submit-btn {
  background-color: #ef9b28;
  color: white;
  border: none;
  border-radius: 6rem;
  padding: 1rem;
  width: 100%;
  margin-top: 5rem;
}

/*.input-group {
  width: 100%;
  border-bottom: 0.3px solid #ffffff;
}
.input-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ef9b28;
  display: block;
  margin-top: 1.5rem;
}
.input-from {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: transparent;
  border: none;
  color: white;
}
.input-from::placeholder {
  color: white;
}
.input-from:focus {
  outline: none;
}

.toggle-password-btn {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 0;
}*/

/* ---------------------- dashboard-layout ---------------------- */
.master-content {
  background-color: var(--bg-Mastercolor);
}
.main-content {
  margin-left: 250px;
  transition: margin-left 0.3s;
  min-height: 100vh;
  background-color: var(--bg-Mastercolor);
  position: relative;
  z-index: 2;
  width: auto;
}
/* *************** pagination style *************** */
.paginateWrapper {
  background-color: var(--header-bg);
  color: var(--text-color);
}
@media only screen and (max-width: 500px) {
  .main-content {
    max-width: 74%;
  }
  .paginateWrapper {
    width: 600px;
  }
  .pagination {
    justify-content: flex-start !important;
  }
}

/*************** Sidebar Style *********************/
.sidebar-container.collapsed + .main-content {
  margin-left: 40px;
}

.sidebar-container {
  background-color: var(--bg-sidebar) !important;
  width: 250px;
  height: 100%;
  z-index: 100;
}
.sidebar-container.collapsed {
  width: 80px;
}

.sidebar-container .ps-sidebar-root {
  border: none;
  width: 250px;
}

@media (max-width: 768px) {
  .sidebar-container .ps-sidebar-root {
    width: 100%;
    height: 100%;
  }
  .main-content {
    width: 100%;
    margin-left: 0px;
  }
  .sidebar-container.collapsed + .main-content {
    margin-left: 40px;
  }
}
.sidebar-container .ps-sidebar-container {
  background-color: var(--bg-sidebar) !important;
  height: 100vh;
  color: var(--light-color);
  padding-top: 10px;
  border: 0;
}

.sidebar-container.collapsed .ps-menu-button {
  padding-inline: 12px;
}

.sidebar-container .ps-menu-button {
  margin-inline: 10px;
}
.sidebar-container .ps-menu-button:hover {
  background-color: transparent !important;
}
.sidebar-container .ps-menu-button.active {
  color: var(--main-colr) !important;
  background-color: var(--minubtn) !important;
  border-radius: 8px;
}
.sidebar-container.collapsed .ps-menu-button.active {
  color: var(--light-color) !important;
}
.sidebar-container svg.active {
  fill: var(--main-colr) !important;
}
.sidebar-container.collapsed svg.active {
  fill: var(--light-color) !important;
}

/*********************** Dropdown Menu *******************/
.dropdown-toggle::after {
  display: none;
}
.custom-dropdown-menu {
  margin-top: 25px;
}

.tableHeaderBtn {
  background-color: var(--main-colr);
  border: unset;
  color: white;
  border-radius: 32px;
  padding-block: 10px;
  padding-inline: 1rem;
}

.tableHeaderContainer {
  padding-block: 1.5rem;
  padding-inline: 2rem;
  background-color: var(--header-bg);
  color: var(--text-color);
}
.tableHeaderIcon {
  color: rgba(14, 56, 47, 1);
}
.option-icons {
  color: rgba(0, 146, 71, 1);
  margin-right: 0.75rem;
}
.paginationDropDownStyle {
  border: 0.7px solid;
  border-radius: 24px;
}

.pagniationLink {
  border: unset;
  cursor: pointer;
  color: var(--disabled-arrow) !important;
  border-radius: 6px;
}
/*********************** Table *******************/
th.table-header {
  background-color: #315951e5;
  border: 1px solid #315951e5;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
}

td.table-data {
  color: #4f4f4f;
  font-weight: 400;
  padding: 16px;
  vertical-align: middle;
}

.disabledArrow {
  color: var(--disabled-arrow);
}
.disabledArrow:focus {
  outline: unset !important;
  border: unset !important;
  color: var(--disabled-arrow);
}
.disabledArrow:hover {
  background-color: unset !important;
  color: var(--disabled-arrow) !important;
  cursor: default;
}

.dropDownMenuStyle {
  height: 7.5rem;
  overflow: auto;
}
/* change table style  */
.table-striped tbody tr:nth-of-type(odd) td {
  color: var(--text-color);
}

.table-striped tbody tr:nth-of-type(even) td {
  color: var(--text-color);
}

/*********************** Add form *******************/

/*.css-13cymwt-control {
  border: 1px solid #ECECEC !important;
  width: 100%;
  padding: 0.8rem;
  border-radius: 16px !important;
}
.css-19bb58m {
  color: var( --placeholder-color) !important;
  overflow-x: hidden;
 
}*/
