/* ---------------------- common style ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: var(--color); */
}

:root {
  --main-colr: rgba(239, 155, 40, 1);
  --main-bg: rgba(239, 155, 40, 1);
  --bg-Authcolor: rgba(49, 89, 81, 0.9);
  --bg-border-bottom: rgba(255, 255, 255, 1);
  --table: rgba(245, 245, 245, 1);
  --bg-card: rgba(248, 249, 251, 1);
  --minubtn: rgba(239, 155, 40, 0.3);
  --dash-item1: rgba(229, 230, 244, 1);
  --dash-item2: rgba(244, 244, 229, 1);
  --dash-item3: rgba(244, 229, 237, 1);
  --iconbg: rgba(207, 209, 236, 1);
  --iconbg2: rgba(228, 228, 188, 1);
  --iconbg3: rgba(231, 195, 215, 1);
  --color: #707276;
  --app-color: rgba(255, 255, 255, 1);
  --dark-color: #101418;
  --App-color: wght;
  --headproject: #707276;
  --color-titledrag: #101418;
  --color-username: #101418;
  --bg-sidebar: rgba(14, 56, 47, 1);

}


/* .Dark-mode {
  --main-colr: rgba(239, 155, 40, 1);
  --color-titledrag: rgba(255, 255, 255, 1);
  --color-username: rgba(255, 255, 255, 1);
  --main-bg: #101418;
  --bg-Authcolor: #101418;
  --bg-border-bottom: #383737;
  --table: #101418;
  --bg-card: #101418;
  --minubtn: rgba(239, 155, 40, 0.3);
  --dash-item1: rgba(229, 230, 244, 1);
  --dash-item2: rgba(244, 244, 229, 1);
  --dash-item3: rgba(244, 229, 237, 1);
  --iconbg: rgba(207, 209, 236, 1);
  --iconbg2: rgba(228, 228, 188, 1);
  --iconbg3: rgba(231, 195, 215, 1);
  --color: #fff;
  --dark-color: #fff;
  --App-color: #101418;
  --bd-table: rgba(14, 56, 47, 1);
  --bg-sidebar: #101418;
} */



body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: var(--App-color) !important;

}

.main-colr {
  color: var(--main-colr);
}

.main-bg {
  background-color: var(--main-colr);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ---------------------- auth-layout ----------------------*/
.auth-container {
  
  background-position: center center;
  background-size: cover;
  min-height: 120vh;

  .auth-item {
    background-color: var(--bg-Authcolor);
  }

  label {
    font-size: 0.8rem;
  }

  input {
    background-color: transparent !;
    border: none;
    border-radius: 0px;
    padding-left: 0px;
  }

  .border-icon, input {
    border-bottom: rgba(255, 255, 255, 1) 1px solid;
  }

  input::placeholder, input:focus {
    color: #fff;
    background-color: transparent;
  }

  input:focus {
    background-color: transparent;
  }

  .form-control {
    color: #fff !important;
    box-shadow: none !important;
  }

  .auth-title {
    p {
      margin: 0px;
    }

    h3 {
      font-size: 2rem;
    }

    .frist-ch::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 16px;
      height: 4px;
      background-color: #f39c12;
    }
  }
}
/* 
  .lodin-links {
    .link-item:hover {
      color: rgba(239, 155, 40, 1) !important;
    }

    .link-item {
      transition: all .3s;
    }
  }

  .container-register {
    background-color: rgba(49, 74, 89, 0.9);
    width: 90% !important;
  }

  .PersonImg {
    height: 10rem;
  }

  .layer-img {
    background-color: rgba(49, 89, 81, 0.54);

  }
} */
html{
  font-size: 16px;
}
body {
  font-family: Inter;
}
.change-pass-bg {
  background-image: url("./assets/images/changepass-bg.svg"),
    linear-gradient(#0e382f, #0e382f);
  background-position: center center;
  background-size: cover;
}

.change-pass-container {
  min-height: 100vh;
}
.change-pass-form-wrapper {
  background-color: #315951e5;
  border-radius: 16px;
  padding: 4rem;
  margin-top: 1.5rem;
}

.form-welcome {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin: 0;
}

.form-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ef9b28;
  margin: 0;
  margin-bottom: 2.8rem;
}

.form-submit-btn {
  background-color: #ef9b28;
  color: white;
  border: none;
  border-radius: 6rem;
  padding: 1rem;
  width: 100%;
  margin-top: 5rem;
}

.input-group {
  width: 100%;
  border-bottom: 0.3px solid #FFFFFF;
}
.input-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #EF9B28;
  display: block;
  margin-top: 1.5rem;

}
.input-from{
width: 100%;
font-size: 1rem;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
background-color: transparent;
border: none;
color: white;
}
.input-from::placeholder{
  color: white;
}
.input-from:focus{
  outline: none;
}

.toggle-password-btn{
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 0;
}
