:root{
    --mainColor :rgba(239, 155, 40, 1);

}



.iconsBtn {
 
        border: unset;
        height: unset;
        padding: unset;
   
    
}




.textWrapper {
    color: var(--mainColor) ;
    font-weight: 700;
    font-size: 2rem;
}

.textWrapper::before {
    content:  "";
    position: absolute;
    width: 1rem;
    height: 3.75px;
    background-color:  var(--mainColor);
    bottom: 0;
}

.formLabel {
    color: var(--mainColor);
}

.formInputs {
    border: unset;
    border-radius: unset;
    background-color: transparent;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.405);
    padding-inline: unset !important;
    padding-bottom: 0.7rem;
   
    &:disabled{
        background-color: rgba(181, 181, 181, 0.789);
        border-radius: 5px;
    }
}
.formInputs::placeholder {
    color: white;
    
}

.verifyWrapper {
    padding-top: 3.87rem;
}


.formInputs:focus {
    outline: unset;
    box-shadow: unset;
    background-color: transparent;
    color: white;
}



.saveBtn button {
    background-color: var(--mainColor);
    padding-block: 10px;
    padding-inline: 14rem;
    border-radius: 6rem;
    color: white;
    border: unset;
    margin-top: 2rem;

}

[type='email'] {
    margin-bottom: 1.8rem;
}
button:disabled,
button[disabled]{
  background-color: rgb(255, 194, 108);
}
 [type='text'] , [type='email'] {
   color: white ;
}
.title {
    margin-bottom: 1.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.logo img{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {


.rowInputs {
    margin-inline: unset;
}
  .saveBtn button {
    padding-inline: 5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1500px) {

.saveBtn button {
    padding-inline: 7rem;
  }
}

